@font-face {
  font-family: 'PokemonSolid';
  src: url('./Pokemon Solid.ttf') format('truetype');
  /* Otras opciones de formato de fuente si es necesario */
}

.App {
  font-family: 'PokemonSolid', Arial, sans-serif;
}
