@font-face {
  font-family: 'PokemonSolid';
  src: url('./Pokemon Solid.ttf') format('truetype');
  /* Otras opciones de formato de fuente si es necesario */
}

.App {
  font-family: 'PokemonSolid', Arial, sans-serif;
}
.pokeContent{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-auto-flow: column;
  gap: 10px;
}